{% extends 'base.html' %}
{% block content %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap"
      rel="stylesheet">
      <link href=" style.css" rel="stylesheet" />

</head>
<body>

</body>





  <!-- Slide Show -->



  <!--<div style="padding:30px 30px 2500px; ">


  </div>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>-->





{% endblock %}